.registerRadio {
	transform: scale(1.5); 
}

.firstRadio{
	margin-left: 20px;
}

.secondRadio{
	margin-left: 10px;
}

.nonTextQuestions{
	padding: 10px;
}

.modalBtn{
	margin-bottom: 20px;
}

.biggerLabel{
	font-size: large;
}

ul.acknowledge{
	float: none;
}

/* Snackbar */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 100;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
/* End Snackbar */

.errorDiv {
  padding: 20px;
  font-weight: bold;
  color: red;
}

.toastMessage{
  font-weight: bold;
}

.teamSelect{
  font-size: large;
  color: red;
  font-weight: 800;
}

.registerNote {
  font-weight: bold;
  margin-bottom: 10px;
}

.registerRequired {
  border: 3px solid red;
}