.registerRadio {
	transform: scale(1.5); 
}

.firstRadio{
	margin-left: 20px;
}

.secondRadio{
	margin-left: 10px;
}

.nonTextQuestions{
	padding: 10px;
}

.modalBtn{
	margin-bottom: 20px;
}

.biggerLabel{
	font-size: large;
}

ul.acknowledge{
	float: none;
}