.gameTitle {
	margin-bottom: 10px;
}

table.smallFont td {
	font-size: small;
}

tr.smallFont th {
	font-size: small;
}

a.playerLink {
	font-weight: 800;
}

.mobile{
	display: none;
}

.rotateTip {
	display: none;
}

@media only screen and (max-width: 435px){

.desktop {
	display: none;
}

.mobile, .rotateTip {
	display: initial;
}

.rotateTip{
    margin-bottom: 5px;
    font-style: italic;
}

.teamInfo{
	display: flex;
	flex-direction:column;
	width: 25px
	border: 1px solid black;
}

.teamInfoContainer{
	display: flex;
	flex-direction:row;
	width: 125px;
}

.homeTeamScore {
	margin-left: 10px;
	line-height: 28px;
	font-family: -apple-system,BlinkMacSystemFont,Roboto,Arial,Helvetica Neue,Helvetica,sans-serif;
	font-weight: 300;
	font-size: 24px;
}

.awayTeamScore {
	margin-right: 10px;
	line-height: 28px;
	font-family: -apple-system,BlinkMacSystemFont,Roboto,Arial,Helvetica Neue,Helvetica,sans-serif;
	font-weight: 300;
	font-size: 24px;
}

.finalScoreSection{
	display: flex;
	flex-direction:row;
	padding: 10px;
}
.finalTextDiv{
	width:33.33%;
}

.bolderScore{
	font-weight: 500;
}

.playerOfTheGame {
	width: 100%;
}

}