.button-success,
.button-error,
.button-warning,
.button-secondary,
.undoBtn {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

.button-success {
    background: rgb(28, 184, 65);
    /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60);
    display: none;
    /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20);
    /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221);
    /* this is a light blue */
}

table td, th {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(even) td > input {
    background-color: #f2f2f2;
}

.fieldValue {
    font-size: 25px;
}

input.fieldValue {
    width: 40px;
    text-align: center;
    border: 0;
}

/* Remove Numbers */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.dragdrop{
    cursor: grab;
}

.dragdrop:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.ui-state-hover {
    background: lightyellow !important;   
}
.ui-state-active {
    background: lightgray !important;
}

#benchToggle:hover {
    cursor: pointer;
}

.jerseyNumber {
    width: 30px;
}

.statsAppTable td {
    padding: 20px;
}

button.undoBtn {
    background: rgb(202, 60, 60);
    display: block;
    position: fixed;
    right: 41px;
    top: 0px;
}
